@import "./global.scss";

.Header {
  background-color: $color-terciary;
  height: 85px;
  display: flex;
  justify-content: space-between;
  /* padding: 20px; */
  position: fixed;
  top: 0;
  align-items: center;
  z-index: 999;
  width: 100%;

  h1 {
    font-weight: 600;

    img {
      height: 70px;
      margin-left: 20px;
    }
  }

  button {
    margin-right: 20px;
  }
}